body{
 Margin:0;
  font-family: sans-serif;
    background:#00FFFF; 
}

.form_clientes{
  width:60%;
  max-width:500px;
  margin: auto;
  background: #FFFF00;
  border-radius: 7px; 
}

.slider-box {
    margin-top: 25px;
    width: 1113px;
    height: auto;
    margin: 0% auto;
    overflow: hidden;
    margin-top: 25px;
}

.slider-box ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 400%; /* 4 imágenes, cada una ocupa el 100% del ancho del contenedor */
    animation: slide 12s infinite;
}

.slider-box li {
    width: 25%; /* Cada elemento `li` ocupa un 25% del ancho total del `ul` */
    list-style: none;
}

.slider-box img {
    margin: 0%;
    width: 100%;
    height: auto;
}

@keyframes slide {
    0% { margin-left: 0%; }
    25% { margin-left: -100%; }
    50% { margin-left: -200%; }
    75% { margin-left: -300%; }
    100% { margin-left: 0%; } /* Regresa al inicio para repetir */
}


.contenedor_input{
 text-align:center;
}

.titulo_form_clientes{
  background:#0000FF;
  color:#C0C0C0 ;
  padding: 8px;
  text-align:center;
  font-weight:100px;
  font-zise: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 10px solid crimson;
}
 .tabla_clientes{
  text-align: left;
  border:1px solid darkgraw;
  width:100%;
}

.tabla_botones{
 text-align: center;
 border:1px solid darkgray;
}

.input -50{
 width :50%;
}

.btn_registrarse{
  background:#188837;
  color:#fff;
 margin:auto;
  padding: 10px 40px;
  cursor:pointer;
  border-radius:7px;
 display:block;
 margin-right:auto;
 margin-left:auto;
}

.btn_registrarse:active{
 transform:scale(1.05);
}

.btn_Actualizar{
  background:#188837;
  color:#fff;
 margin:auto;
  padding: 10px 40px;
  cursor:pointer;
  border-radius:7px;
 display:block;
 margin-right:auto;
 margin-left:auto;
}
.btn_Actualizar:active{
 transform:scale(1.05);
}

.btn_Consultar{
  background:#188837;
  color:#fff;
 margin:auto;
  padding: 10px 40px;
  cursor:pointer;
  border-radius:7px;
 display:block;
 margin-right:auto;
 margin-left:auto;
}
.btn_Consultar:active{
 transform:scale(1.05);
}

















